body {
    height: 4000px;
    background: rgb(45,45,59);
    background: linear-gradient(355deg, rgb(32, 32, 39) 0%, rgb(58, 58, 72) 100%);    
    margin: 0;
    padding: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-family: monospace;
    color: #927472;
    font-weight: bolder;
}

.content-large {
    position: absolute;
    top: 1%; 
    left: 20%; 
    right: 20%; 
    bottom: 15%; 
    background: #612e2e;
    border-radius: 70px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.content-large-fill {
    position: absolute;
    top: 19%; 
    left: 22%; 
    right: 22%; 
    bottom: 19%; 
    background: #6f4041;
    border-radius: 50px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}

/* MENU */
.content-menu {
    position: absolute;
    top: 10%; 
    left: 20%; 
    right: 20%; 
    bottom: 35%; 
    background: #612e2e;
    border-radius: 70px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}

.content-menu-fill {
    position: absolute;
    top: 38%; 
    left: 22%; 
    right: 22%; 
    bottom: 38%; 
    background: #6f4041;
    border-radius: 50px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}
/* END OF MENU */

.choose-menu {
    position: absolute;
    top: 28%; 
    left: 22%; 
    right: 22%; 
    bottom: 28%; 
    background: #6f4041;
    border-radius: 15px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}

* {
    box-sizing: border-box;
}

.spacer-1, .spacer-2 {
    flex: 25;
    visibility: hidden;
}


/* TEXT HERE */


body > div > div {
    padding: 10px;
}



.title {
    display: flex;
    flex: 15;   
}

.logo {
    flex: 50;
    text-align: center;
}

.upper-body {
    display: flex;
    flex: 15;
    position: relative; 
}

.name {
    flex: 50;
    text-align: center;
}

.footer {
    display: flex;
    flex: 15;
    position: relative; /* Added */
}

.header{
    display: flex;
    flex: 15;
    position: relative; 
    position: relative; /* Added */
}

body > div.middle-body, body > div.lower-body, body > div.footer {
    display: flex;
    flex: 15;
    position: relative; /* Added */
}

body > div.middle-body > div.name, body > div.lower-body > div.name, body > div.footer > div.name {
    flex: 50;
    text-align: center;
}
