body {
    height: 4000px;
    background: rgb(45,45,59);
    background: linear-gradient(355deg, rgb(32, 32, 39) 0%, rgb(58, 58, 72) 100%);    
    margin: 0;
    padding: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.content {
    position: absolute;
    top: 20%; 
    left: 20%; 
    right: 20%; 
    bottom: 20%; 
    background: #612e2e;
    border-radius: 15px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}

.content-fill {
    position: absolute;
    top: 28%; 
    left: 28%; 
    right: 28%; 
    bottom: 28%; 
    background: #6f4041;
    border-radius: 15px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}

.choose-menu {
    position: absolute;
    top: 28%; 
    left: 28%; 
    right: 28%; 
    bottom: 28%; 
    background: #6f4041;
    border-radius: 15px;
    z-index: 2;
    padding: 20px;
    align-content: center;
}

* {
    box-sizing: border-box;
}

.spacer-1, .spacer-2 {
    flex: 25;
    visibility: hidden;
}

h3, h1 {
    margin: 0;
    text-align: center;
}

body > div > div {
    padding: 10px;
}



.title {
    display: flex;
    flex: 15;   
}

.logo {
    flex: 50;
    text-align: center;
}

.upper-body {
    display: flex;
    flex: 15;
    position: relative; 
}

.name {
    flex: 50;
    text-align: center;
}

.content {
    flex: 1;
}

.footer {
    display: flex;
    flex: 15;
    position: relative; /* Added */
}

.header{
    display: flex;
    flex: 15;
    position: relative; 
    position: relative; /* Added */
}

body > div.middle-body, body > div.lower-body, body > div.footer {
    display: flex;
    flex: 15;
    position: relative; /* Added */
}

body > div.middle-body > div.name, body > div.lower-body > div.name, body > div.footer > div.name {
    flex: 50;
    text-align: center;
}
